<% if @place_cart.cart_items.any? %>
  <div class="col-md-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="cart_button">
    Cart <span class="label label-info"><%= @place_cart.amount %></span><br>
    <%= @place_cart.total %>$
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cart</h4>
          </div>
          <div class="modal-body">
              <%= render @place_cart.cart_items %>

              <p id="cart_total">Cart total: <%= @place_cart.total %>$</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"><%= link_to "Order", cart_path(@place_cart), 
                                                              style: "color: white;", method: 'delete' %>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>