<!DOCTYPE html>
<html>
  <head>
    <title>Hw43</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <h4>
       <%= link_to "Log in", new_user_session_path %> ||
       <%= link_to "Sign up", new_user_registration_path %>
      </h4>
    <% else %>
      <h4>
        Hello <%= current_user.email %>
        <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
      </h4>
    <% end %>
  	<p><%= notice %></p>
		<p><%= alert %></p>
    <%= yield %>
  </body>
</html>
